///////////////////////////////////////////////////
// niri config
///////////////////////////////////////////////////

// See default-config.kdl for possible settings/original comments
// NOTES:
// - Omitting settings disables/defaults them
// - A whole {...} node can be commented out with '/-'
// CAREFUL: Removing keybinds completely disables them, so make sure to at
// least have binding to open terminal

// Default config: https://github.com/YaLTeR/niri/blob/main/resources/default-config.kdl

///////////////////////////////////////////////////
// Layout
///////////////////////////////////////////////////
// workspace "config" {
//     open-on-output "HDMI-A-1"
// }
// workspace "browser" {
//     open-on-output "HDMI-A-1"
// }
// workspace "coding" {
//     open-on-output "HDMI-A-1"
// }
// workspace "chat" {
//     open-on-output "eDP-1"
// }


/// COLORS:
// Orange:         #fab387
// Pastel violet:  #cba6f7
// Urgent:         #f38ba8
//
// Old colors:
// active-color    #b4befe
// inactive-color  #505050


layout {
    gaps 10
    struts {
        right 3
        left 3
        bottom -6
        top -6

    }
    // struts {
    //     left 4
    //     right 4
    //     top 6
    //     bottom 6
    // }
    focus-ring {
        width 2
        active-color "#fab387"
        inactive-color "#505050"
    }
    border {
         width 3
         active-color "#fab387"
         inactive-color "#cba6f7"
         urgent-color "#f38ba8"
    }

    tab-indicator {
        place-within-column
        position "right"
        length total-proportion=1.0
    }

    center-focused-column "never"
    always-center-single-column
    default-column-width {
        proportion 0.5
    }
    preset-column-widths {
        proportion 0.5
    }

    preset-window-heights {
        proportion 1.0
    }
}

animations {
    on
    slowdown 0.3
}

gestures {
    hot-corners {
        off
    }
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 36

}

prefer-no-csd // No client-side decorations


///////////////////////////////////////////////////
// Input
///////////////////////////////////////////////////
input {
    keyboard {
        // xkb {
        //     // INFO: xkeyboard-config(7).
        //     layout "dk"
        //     variant "nodeadkeys"
        //     options "compose:menu,caps:escape"
        // }
        numlock
    }
    touchpad {
        tap
        dwt // Disable while typing
        natural-scroll
        accel-speed 0.0
        accel-profile "flat"
        scroll-factor 0.5
        click-method "clickfinger"
    }

    mouse {
        accel-profile "flat"
        accel-speed -0.3
    }

    // warp-mouse-to-focus mode="center-xy-always"

}


///////////////////////////////////////////////////
// Outputs
///////////////////////////////////////////////////
output "eDP-1" {
    scale 1.0
    position x=0 y=0
}

output "HDMI-A-1" {
    scale 1.1
    focus-at-startup
    position x=-10000 y=0
}

// output "Seiko Epson Corporation EPSON PJ 0x01010101" {

// }

///////////////////////////////////////////////////
// Startup
///////////////////////////////////////////////////
/// TODO: Start in NixOS config instead
spawn-at-startup "wbg" "-s" "/home/angryluck/Pictures/wallpapers/dark-split-park.jpg"
spawn-at-startup "wezterm"

/// From suggested mangowc config
spawn-at-startup "wl-clip-persist" "--clipboard" "regular" "--reconnect-tries" "0"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"

spawn-at-startup "xwayland-satellite"
// Should be set in NixOS config!
environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    DISPLAY ":0"
    // NOTE: intellij complains about this
    // _JAVA_OPTIONS "-Dawt.useSystemAAFontSettings=lcd -Dsun.java2d.dpiaware=false -Dsun.java2d.uiScale=1"
 }
 switch-events {
     lid-close {
        spawn "sh" "-c" "systemctl suspend && swaylock"
     }
 }

hotkey-overlay { skip-at-startup; }

///////////////////////////////////////////////////
// Window rules
///////////////////////////////////////////////////
// Floating windows:
window-rule {
    match app-id="^float$"
    open-floating true
    default-column-width { proportion 0.7; }
    default-window-height { proportion 0.7; }

    focus-ring { off; }
    shadow { on; }
}
window-rule {
    match app-id="pdfpc"
    open-maximized true
}

window-rule {
    match app-id="^jetbrains-idea"
    open-maximized true
}

window-rule {
    match app-id="^Alacritty$" at-startup=true
    open-on-workspace "coding"
    open-maximized true
    open-focused true
}

// window-rule {
//     match app-id="^org.wezfurlong.wezterm$" at-startup=true
//     open-on-workspace "coding"
//     // open-maximized true
//     open-focused true
// }

window-rule {
    match app-id="isabelle-jedit-JEdit_Main"
    open-maximized true
}

window-rule {
    geometry-corner-radius 2
    clip-to-geometry true
}
window-rule {
    match app-id="^zen-twilight$"
    open-on-workspace "browser"
    open-maximized true
    open-focused true
}
window-rule {
    match app-id="^brave-browser$"
    open-on-workspace "browser"
    open-maximized true
    open-focused true
}
window-rule {
    match app-id="^chromium-browser$"
    open-on-workspace "browser"
    open-maximized true
    open-focused false
}
window-rule {
    match app-id="^zen-twilight$" title="^Picture-in-Picture$"
    open-floating true
    open-maximized false
}
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    match app-id="^Dorion$"
    open-maximized true
}
window-rule {
    match app-id="^discord$"
    open-maximized true
    open-focused false
    open-on-workspace "chat"
}
window-rule {
    match app-id="^vesktop$"
    open-maximized true
    open-focused false
    open-on-workspace "chat"
}

window-rule {
    match app-id="^vesktop$"
    open-maximized true
}

window-rule {
    match app-id="^RStudio$"
    open-maximized true
}

///////////////////////////////////////////////////
// Key bindings
///////////////////////////////////////////////////
/// Mantra: Only have one keybinding for each action (except when having to
// work on two keyboards)
//
// Find key-names with 'wev'
binds {
    /// Open applications
    Mod+Shift+O { show-hotkey-overlay; }
    Mod+O { toggle-overview; }
    Mod+Return hotkey-overlay-title="Open a Terminal: Wezterm" {
        spawn "wezterm"
    }
    Mod+T hotkey-overlay-title="Open a Terminal: Alacritty" {
        spawn "alacritty"
    }
    Mod+P hotkey-overlay-title="Run an Application: fuzzel" {
        spawn "fuzzel"
    }
    Mod+0 hotkey-overlay-title="Lock the Screen: swaylock" {
        spawn "sh" "-c" "niri msg action power-off-monitors && swaylock"
    }
    Mod+Ctrl+0 hotkey-overlay-title="Power menu: wlogout" {
        spawn "wofi-power-menu"
    }
    // Brightness
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brillo" "-q" "-A" "5"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brillo" "-q" "-U" "5"
    }
    // Audio
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "-l" "1.0" "@DEFAULT_AUDIO_SINK@" "5%+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "-l" "1.0" "@DEFAULT_AUDIO_SINK@" "5%-"
    }
    Mod+M { spawn "wofi-emoji"; }

    Mod+Shift+Q { close-window; }
    Mod+Shift+S { screenshot; }
    Mod+Shift+Ctrl+S { screenshot-window; }
    // Idk what this does
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+Ctrl+Q { quit; }
    Mod+Shift+P { power-off-monitors; }

    /// Focus on workspace
    Mod+Down { focus-window-down; }
    Mod+Up { focus-window-up; }
    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+N { focus-column-left; }
    Mod+E { focus-column-right; }
    // Rotate focus of columns to the right, for when using tabbed display
    Mod+Z {
        spawn-sh "niri msg action focus-column-right-or-first && niri msg action focus-window-down-or-top && niri msg action focus-column-left-or-last"
    }

    /// Move on workspace
    Mod+Shift+Down { move-window-down; }
    Mod+Shift+Up { move-window-up; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+N { move-column-left; }
    Mod+Shift+E { move-column-right; }
    Mod+Comma{ consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    /// Transform windows
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+V { toggle-window-floating; }
    Mod+V { switch-focus-between-floating-and-tiling; }
    // Mod+T { toggle-column-tabbed-display; }

    /// Focus between workspaces
    Mod+D { focus-workspace-down; }
    Mod+U { focus-workspace-up; }
    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up { focus-workspace-up; }
    Mod+B { focus-workspace-previous; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    /// Move between workspaces
    // NOTE:
    // 1. Unfortunately no option for Mod+Shift+B available ;(
    // 2. No bindings for moving a single window _on purpose_
    Mod+Shift+D { move-column-to-workspace-down; }
    Mod+Shift+U { move-column-to-workspace-up; }
    Mod+Shift+Page_Down { move-column-to-workspace-down; }
    Mod+Shift+Page_Up { move-column-to-workspace-up; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    /// Move workspaces
    // NOTE: Unfortunately doesn't follow 'Ctrl = monitor' scheme
    // Also, Shift added despite 'Mod+Ctrl+D/U' not being used, to keep 'Shift
    // = move' scheme
    Mod+Ctrl+D { move-workspace-down; }
    Mod+Ctrl+U { move-workspace-up; }
    Mod+Ctrl+Page_Down { move-workspace-down; }
    Mod+Ctrl+Page_Up { move-workspace-up; }
    // Only way to move workspaces for now (but sufficient with 1 monitor)

    /// Focus Monitors
    Mod+I {focus-monitor-next;}
    Alt+Mod+I {focus-monitor-previous;} // Only needed for 3+ monitors
    Alt+Mod+1 {focus-monitor "HDMI-A-1"; }
    Alt+Mod+2 {focus-monitor "eDP-1"; }
    Mod+Home {focus-monitor "HDMI-A-1"; }
    Mod+End{focus-monitor "eDP-1"; }

    /// Move between monitors
    // NOTE: Again, no bindings for moving single window in column
    Mod+Shift+I {move-column-to-monitor-next;}
    Alt+Mod+Y {move-column-to-monitor-previous;}
    Mod+Ctrl+I { move-workspace-to-monitor-previous; }
    Mod+Shift+Home {move-column-to-monitor "HDMI-A-1"; }
    Mod+Shift+End {move-column-to-monitor "eDP-1"; }
    Mod+Ctrl+Home {move-workspace-to-monitor "HDMI-A-1"; }
    Mod+Ctrl+End {move-workspace-to-monitor "eDP-1"; }

    /// Mouse (consider deleting this)
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollLeft { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft { move-column-left; }
    Mod+Shift+WheelScrollDown { focus-column-right; }
    Mod+Shift+WheelScrollUp { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp { move-column-left; }

    Mod+R { switch-preset-column-width; }
}
